
.map-cell {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.free-cell {
	background-color: green;
}

.wall-cell {
	background-color: red;
}

.pill-cell {
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: pink;
	position: absolute;
}

.row-separator {
	padding: 0px;
	margin: 0px;
	height: 10px;
}

#player-cell {
	z-index: 100;
	position: absolute;
	

}

.player-normal {
	background-color: yellow;
}

.player-hulk {
	background-color: cyan;
}



